
*.vcxproj
*.filters
*.recipe
*.user
*.ilk
*.log
*.enc
*.tlog
*.idb
*.obj
*.ifc
*.pdb
*.suo
*.db
*.ipch
*.sln
*.txt
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.lock
.editorconfig
*.xml
*.sarif
*.bin
*.exe
source/gen_version.bat
build*/
venv/*
*.ifc

# Visual Studio cache directory
.vs/

# VSCode workspace directory
.vscode/
buildh2.bat
gen_version.bat
mkdocs_serve.sh
experimental/a.out
cppfront/x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.d.json
cppfront/x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json
cppfront/x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
cppfront/x64/Debug/microsoft/STL/std.ixx.ifc.dt.d.json
cppfront/x64/Debug/microsoft/STL/std.ixx.ifc.dt.module.json
cppfront/x64/Debug/microsoft/STL/std.ixx.ifc.dt.module.json.command
