
*.vcxproj
*.filters
*.recipe
*.user
*.ilk
*.log
*.enc
*.tlog
*.idb
*.obj
*.ifc
*.pdb
*.suo
*.db
*.ipch
*.sln
*.txt
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.lock
.editorconfig
*.xml
*.sarif
*.bin
*.exe
source/gen_version.bat
build*/
venv/*
*.ifc

# Visual Studio cache directory
.vs/

# VSCode workspace directory
.vscode/
