/*
    the default font sizes look small and encourage zooming,
    which loses the navigation side panels
*/
p { font-size: 16px; }
td { font-size: 16px; }

/*
    todo: try to make the nav pane section labels larger

    for now, this at least adds space between sections
    so that section starts are easier to see
*/
.md-nav__item { font-size: 20pt; }
.md-nav__link { font-size: medium; }
